@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Semibold.woff') format('woff'),
        url('../assets/fonts/SF-Pro-Display-Semibold.ttf') format('ttf'),
        url('../assets/fonts/SF-Pro-Display-Semibold.otf') format('otf'),
        url('../assets/fonts/SF-Pro-Display-SemiboldItalic.eot') format('eot');

    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Black.woff') format('woff'),
        url('../assets/fonts/SF-Pro-Display-Black.ttf') format('ttf'),
        url('../assets/fonts/SF-Pro-Display-Black.otf') format('otf'),
        url('../assets/fonts/SF-Pro-Display-Black.eot') format('eot');

    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Regular.woff') format('woff'),
        url('../assets/fonts/SF-Pro-Display-Regular.ttf') format('ttf'),
        url('../assets/fonts/SF-Pro-Display-Regular.otf') format('otf'),
        url('../assets/fonts/SF-Pro-Display-Regular.eot') format('eot');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Thin.woff') format('woff'),
        url('../assets/fonts/SF-Pro-Display-Thin.ttf') format('ttf'),
        url('../assets/fonts/SF-Pro-Display-Thin.otf') format('otf'),
        url('../assets/fonts/SF-Pro-Display-Thin.eot') format('eot');

    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Light.woff') format('woff'),
        url('../assets/fonts/SF-Pro-Display-Light.ttf') format('ttf'),
        url('../assets/fonts/SF-Pro-Display-Light.otf') format('otf'),
        url('../assets/fonts/SF-Pro-Display-Light.eot') format('eot');

    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Bold.woff') format('woff'),
        url('../assets/fonts/SF-Pro-Display-Bold.ttf') format('ttf'),
        url('../assets/fonts/SF-Pro-Display-Bold.otf') format('otf'),
        url('../assets/fonts/SF-Pro-Display-Bold.eot') format('eot');

    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Bold.woff') format('woff'),
        url('../assets/fonts/SF-Pro-Display-Bold.ttf') format('ttf'),
        url('../assets/fonts/SF-Pro-Display-Bold.otf') format('otf'),
        url('../assets/fonts/SF-Pro-Display-Bold.eot') format('eot');

    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Ultralight.woff') format('woff'),
        url('../assets/fonts/SF-Pro-Display-Ultralight.ttf') format('ttf'),
        url('../assets/fonts/SF-Pro-Display-Ultralight.otf') format('otf'),
        url('../assets/fonts/SF-Pro-Display-Ultralight.eot') format('eot');

    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Regular.woff') format('woff'),
        url('../assets/fonts/SF-Pro-Display-Regular.ttf') format('ttf'),
        url('../assets/fonts/SF-Pro-Display-Regular.otf') format('otf'),
        url('../assets/fonts/SF-Pro-Display-Regular.eot') format('eot');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Semibold.woff') format('woff'),
        url('../assets/fonts/SF-Pro-Display-Semibold.ttf') format('ttf'),
        url('../assets/fonts/SF-Pro-Display-Semibold.otf') format('otf'),
        url('../assets/fonts/SF-Pro-Display-Semibold.eot') format('eot');

    font-weight: 600;
    font-style: normal;
    font-display: swap;
}